<header class="bg-white shadow-md fixed top-0 left-0 right-0 z-50">
  <div class="container mx-auto px-5">
    <div class="flex justify-end items-center py-4">
      <!-- ナビゲーションリンク -->
      <nav>
        <%= link_to "投稿一覧", posts_path, class: "mr-4" %>
        <%= link_to "新規作成", new_post_path %>
      </nav>
    </div>
  </div>
</header>
